@import url('https://fonts.googleapis.com/css?family=Merriweather');

/* =========== */
/* General CSS */
/* =========== */

h1, h2, h3, li
{
    font-family: 'Merriweather', sans-serif;
}

html, body
{
    
    scroll-behavior: smooth;
}

.showinmob
{
    display: none;
}

.lightblue
{
    color: rgb(62, 142, 152);
}

.darkerblue
{
   color: rgb(41, 75, 79);
}

.white
{
    color: white;
}

.bg-faded-white
{
    background-color: rgba(255, 255, 255, 0.808);
}

.card
{
    border: 2px solid rgba(62, 141, 152, 0);
    border-bottom-color:rgb(202, 202, 202);
    border-radius: 4px;
    transition: 0.25s;
}

.card:hover
{
    border-color: rgb(62, 141, 152);
    transition: 0.25s;
}

/* ======= */
/* Nav CSS */
/* ======= */
.nav-link
{
    font-weight: bolder;
}

.nav-link:hover
{
    color: rgb(62, 142, 152) !important;
}

.nav-link:active
{
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

#navtablet-logo
{
    right: 1em;
    top: 13px;
}

/* ======== */
/* Logo CSS */
/* ======== */
.leologo
{
    max-width: 120px;
    max-height: 120px;
    transition: 0.25s;
}

.leologomini
{
    max-width: 50px;
    max-height: 50px;
    display: none;
}

.leologo:hover
{
    -webkit-filter: opacity(75%);
    filter: opacity(75%);
    cursor: pointer;
    transition: 0.25s;
}

.leologo:active
{
    -webkit-filter: blur(1px) opacity(90%);
    filter: blur(1px) opacity(90%);
    cursor: pointer;
    transition: 0.25s;
}


/* ========= */
/* Pages CSS */
/* ========= */
#homecontainer, #aboutcontainer, #contactcontainer, #previouscontainer
{
    display: none;
    min-height: 100vh;
}

footer
{
    width: 100%;
    overflow: hidden;
    background-color: white;
    height: 1.5em;
    text-align: center;
}

footer p
{
    font-size: 12px;
}

/* ======== */
/* Home CSS */
/* ======== */
#homecontainer
{
    display: block;
    padding-top: 20em;
    background-position-y: -120px;
    background-repeat: no-repeat;
    overflow: hidden;
    list-style-type: none;
}

#seemorebutton
{
    margin-top: 15em;
}

#seemorebutton a
{
    text-decoration: none;
    min-width: 230px;
    margin: auto;
}

#seemorebutton #whatdobutton
{
    border: 2px solid rgb(62, 142, 152);
    background-color: rgba(62, 141, 152, 0.678);
    border-radius: 5px;
    transition: 0.5s;
}

#seemorebutton #whatdobutton:hover
{
    background-color: rgb(62, 142, 152);
    transition: 0.5s;
}

#homecontainer #ourworktext
{
    margin-top: 5em;
    background-color: rgba(255, 255, 255, 0.829);
    scroll-behavior: smooth;
}

#seemorebutton .arrow 
{
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin: auto;
    font-size: 30px;
    min-width: 1.5em;
    border-radius: 100%;
    background-color: rgba(41, 75, 79, 0);
    transition: 0.5s;
}

#seemorebutton .arrow:hover
{
    background-color: rgb(62, 142, 152);
    color: white;
    transition: 0.5s;
}

.bounce 
{
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce 
{
    0%, 20%, 50%, 80%, 100% 
    {
        transform: translateY(0);
    }
    40% 
    {
        transform: translateY(-30px);
    }
    60% 
    {
        transform: translateY(-15px);
    }
}

/* ============ */
/* About Us CSS */
/* ============ */
#aboutcontainer, #contactcontainer, #previouscontainer
{
    padding-top: 9em;
    overflow: hidden;
    flex-direction: row;
    height: 100%;
}

#aboutcontainer .jumbotron
{
    background-color: rgba(233, 236, 239, 0.664);
    border-radius: 0px;
    margin-bottom: 0px;
}

#aboutflexcontainer, #aboutustext, #aboutflexcontainer .jumbotron
{
    height: 84.5vh;
}

#aboutustext
{
    padding-top: 3em;
    background-color: white;
}

#aboutustext, #aboutcontainer .jumbotron
{
    border: 2px solid rgba(41, 75, 79, 0);
    transition: 0.25s;
}

#aboutustext:hover, #aboutcontainer .jumbotron:hover
{
    border-color: rgba(41, 75, 79, 0.671);
    transition: 0.25s;
}

#carousel
{
    max-width: 90%;
}

#carousel .carousel-caption
{
    opacity: 0;
    transition: 0.25s;
}

#carousel .carousel-item img:hover + .carousel-caption, #carousel .carousel-caption:hover
{
    opacity: 1;
    transition: 0.25s;
}

/* ========================= */
/* Contact Us / Previous CSS */
/* ========================= */

#contactcontainer .jumbotron, #previouscontainer .jumbotron
{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: white;
}

#contactcontainer .d-flex, #previouscontainer .d-flex
{
    min-height: 84.5vh; 
}

#clienttext, #contactcontainer .jumbotron, #previouscontainer .jumbotron, #leadertext
{
    padding-top: 6em;
    border: 2px solid rgba(41, 75, 79, 0);
    transition: 0.25s;
}

#clienttext:hover, #contactcontainer .jumbotron:hover, #previouscontainer .jumbotron:hover, #leadertext:hover
{
    border-color: rgba(41, 75, 79, 0.418);
    background-color: rgba(62, 141, 152, 0.192);
    transition: 0.25s;
}

#brislink:hover
{
    color: rgb(41, 75, 79);
}

/* ================ */
/* Tablet Edits CSS */
/* ================ */
@media only screen and (max-width: 991px)
{
    /* =========== */
    /* General CSS */
    /* =========== */
    .showinmob
    {
        display: block;
    }

    .hideinmob
    {
        display: none;
    }

    /* ======= */
    /* Nav CSS */
    /* ======= */
    nav
    {
        min-height: 70px;
    }

    #navtablet-text
    {
        position: absolute;
        left: 42.5%;
        top: 15px;
    }

    .nav-link 
    {
        height: 110px !important;
    }

    #aboutcontainer, #contactcontainer, #previouscontainer
    {
        background-attachment: fixed;
        background-size: cover;
    }

    /* ======== */
    /* Home CSS */
    /* ======== */
    #homecontainer
    {
        padding-top: 15em;
        background-position-x: -470px;
    }

    #seemorebutton
    {
        margin-top: 10em;
        margin-bottom: 12.5em;
    }

    /* ============ */
    /* About us CSS */
    /* ============ */
    #aboutcontainer
    {
        padding-top: 10em;
    }

    #aboutflexcontainer, #contactflexcontainer, #previousflexcontainer
    {
        flex-direction: column;
    }

    #aboutflexcontainer, #aboutustext, #aboutflexcontainer .jumbotron
    {
        height: 100%;
    }

    #aboutustext
    {
        margin-bottom: 3em;
        padding-top: 1em;
        padding-bottom: 1.5em;
    }

    #aboutcontainer .jumbotron
    {
        margin: auto auto 3em auto;

    }

    #aboutustext:hover, #aboutcontainer .jumbotron:hover
    {
        border-color: rgba(41, 75, 79, 0);
    }

    /* =================================== */
    /* Contact Us / Previous Experince CSS */
    /* =================================== */

    #clienttext:hover, #contactcontainer .jumbotron:hover, #leadertext:hover, #previouscontainer .jumbotron:hover
    {
        border-color: rgba(41, 75, 79, 0);
        background-color: white;
    }

    #contactflexcontainer, #previousflexcontainer
    {
        background-color: rgba(255, 255, 255, 0);
    }

    #contactflexcontainer .jumbotron, #previousflexcontainer .jumbotron
    {
        margin: auto;
    }

    #clienttext, #leadertext
    {
        background-color: white;
    }

    #contactflexcontainer .jumbotron, #clienttext, #previousflexcontainer .jumbotron, #leadertext
    {
        padding: 2em 0;
        margin-bottom: 3em;
    }

}

/* ================ */
/* Mobile Edits CSS */
/* ================ */
@media only screen and (max-width: 650px) 
{

    /* =========== */
    /* Nav bar CSS */
    /* =========== */
    #navtablet-text
    {
        position: relative;
        left: 0;
        top: 3px;
        text-align: center;
        width: 75%;
    }

    /* ======== */
    /* Home CSS */
    /* ======== */
    #homecontainer
    {
        padding-top: 9em;
        background-position-x: -700px;
        background-position-y: -200px;
    }

    #homecontainer h3
    {
        font-size: 25px;
    }

    #homecontainer h5
    {
        font-size: 15px;
    }

    #seemorebutton
    {
        margin-top: 10em;
        margin-bottom: 14em;
    }

    /* ============ */
    /* About Us CSS */
    /* ============ */
    #aboutcontainer
    {
        padding-top: 8em;
        background-position-x: -20em;
    }

    #aboutcontainer .jumbotron
    {
        margin-bottom: 3em;
        width: 90%;
    }

    #aboutustext
    {
        width: 93%;
    }

    /* =========== */
    /* Contact CSS */
    /* =========== */
    #contactcontainer, #previouscontainer
    {
        background-position-x: -20em;
    }

}


